img { height: 150px;}

.description {font-size: 20px;}

#cook-time {font-weight: 900;}

.ingredients li {list-style: square;}

.time {color: white;}

.external-link {color:  gold;}

* {
  font-family: Helvetica;
  background-color: grey;
  margin: 10px;
  }
